.vscode
*.jl.cov
*.jl.*.cov
*.jl.mem
*.mem
*.jld2
docs/build/
docs/site/
temp/
dev/
profile/
/Manifest.toml
/envs/
programs/vector_potential_globalmultitrace.jl
programs/draft/create neighobrhood.jl
programs/draft/test_strace_doublelayer.jl
programs/draft/test_trace_operators_visual.jl
programs/draft/test_ttrace_doublelayer.jl
programs/draft/vector_potential_sphere.jl
src/todo.txt

programs/
results/
